<div class="modal" tabindex="-1" role="dialog" id="modal-confirm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title"><i class="glyphicon glyphicon-exclamation-sign b-warning text-warning"></i> <span ng-bind-html="title"></span></h4>
			</div>
			<form name="form-confirm" class="form-validation" id="confirmForm" ng-submit="callback();$hide()">
				<div class="modal-body" ng-show="content">
					<p ng-bind-html="content"></p>
				</div>
				<div class="modal-footer">
					<div class="btn-group">
						<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
						<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
							trigger-loading="beginLoading"><i class="fa fa-save"> </i> 确定保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>