<div class="aside box-shadow b-r aside-x p" tabindex="-1" role="dialog">
	<div class="aside-header"><i class="fa fa-building-o"> </i>
		<span class="no-margin" ng-bind-html="action_nav"></span>
		<button type="button" class="close" ng-click="$hide()">&times;</button>
	</div>
	<div class="p-md">
		<form name="thisForm" id="thisForm" class="form-validation" ng-submit="saveData(thisForm)">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading bg-white">
						<span class="font-bold">公司信息登记表</span>
					</div>
					<div class="row">
						<div class="panel-body col-sm-8">
							<div class="form-group ">
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">企业代码</span>
										<input type="text" class="form-control" placeholder="企业代码" ng-model="param.company_code" required />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="input-group m-b">
										<span class="input-group-addon">企业简称</span>
										<input type="text" class="form-control" placeholder="企业简称" ng-model="param.company_sname" required />
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">企业名称</span>
										<input type="text" class="form-control" placeholder="企业名称" ng-model="param.company_name" required />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">COMPANY NAME</span>
										<input type="text" class="form-control" placeholder="企业英文名称" ng-model="param.company_enname" required />
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">企业地址</span>
										<input type="text" class="form-control" placeholder="企业地址" ng-model="param.company_address" required />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">ADDRESS</span>
										<input type="text" class="form-control" placeholder="企业英文名称" ng-model="param.company_enaddress" required />
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">企业电话</span>
										<input type="text" class="form-control" placeholder="企业地址" ng-model="param.company_phone" required />
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">企业传真</span>
										<input type="text" class="form-control" placeholder="传真" ng-model="param.company_fax" required />
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">Email</span>
										<input type="email" class="form-control" placeholder="Email" ng-model="param.company_email" required />
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">网站</span>
										<input type="text" class="form-control" placeholder="企业网站" ng-model="param.company_website" required />
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<div class="input-group m-b">
										<span class="input-group-addon">营业执照同一信用代码</span>
										<input type="text" class="form-control" placeholder="营业执照同一信用代码" ng-model="param.company_credit_code" required />
									</div>
								</div>
								<div class="col-sm-2">
									<div class="input-group m-b">
										<span class="input-group-addon">注册资金</span>
										<input type="number" class="form-control" placeholder="注册资金" ng-model="param.company_reg_capital" required />
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">注册日期</span>
										<input type="text" class="form-control w" placeholder="注册日期" ng-model="param.company_reg_date" value="{{getDay('yyyy-mm-dd')}}"
											data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1" bs-datepicker required />
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">有效日期</span>
										<input type="text" class="form-control" placeholder="有效日期" ng-model="param.company_reg_date_end" value="{{getDay('yyyy-mm-dd')}}"
											data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1" bs-datepicker required />
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">海关注册登记编号</span>
										<input type="text" class="form-control" placeholder="海关注册登记编号" ng-model="param.company_reg_customs_num" required />
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">有效日期</span>
										<input type="text" class="form-control" placeholder="有效日期" ng-model="param.company_reg_customs_date_end"
											value="{{getDay('yyyy-mm-dd')}}" data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1" bs-datepicker
											required />
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">开户许可证核准号</span>
										<input type="text" class="form-control" placeholder="开户许可证核准号" ng-model="param.company_permit_number" required />
									</div>
								</div>
								<div class="col-sm-5">
									<div class="input-group m-b">
										<span class="input-group-addon">自理报检单位备案登记号</span>
										<input type="text" class="form-control" placeholder="自理报检单位备案登记号" ng-model="param.company_inspection_number" required />
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">机构信用代码证号</span>
										<input type="text" class="form-control" placeholder="机构信用代码证号" ng-model="param.company_certificate_number" required />
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group m-b">
										<span class="input-group-addon">有效日期</span>
										<input type="text" class="form-control" placeholder="有效日期" ng-model="param.company_certificate_effect_date"
											value="{{getDay('yyyy-mm-dd')}}" data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1" bs-datepicker
											required />
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="col-sm-6">
									<div class="input-group m-b">
										<span class="input-group-addon">对外贸易经营者备案登记表企业代码</span>
										<input type="text" class="form-control" placeholder="对外贸易经营者备案登记表企业代码" ng-model="param.company_trade_code" required />
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body col-sm-4">
							<div class="form-group m-h-n clearfix">
								<div class="col-sm-12">
									<div class="col-sm-12">
										<label>企业标识</label>
										<div class="w-xl w-auto-xs">
											<div class="box bg-white">
												<div class="box-col w-auto-xs v-m">
													<img id="company_logo" name="company_logo" ng-src="{{__IMGWEB+param.company_logo}}" width="120" height="120"
														class="b p-xs" onerror="this.src='/static/images/logo.png'">
													<input type="hidden" ng-model="param.company_logo" value="{{param.company_logo}}">
												</div>
												<div class="box-col p">
													<button class="btn btn-addon btn-default set_image_src" id="set_image_src" type="button" isMain="1"><i
															class="fa fa-upload"></i> 上传图片</button>
													<label>最大:2M/600x600px</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> 
							<div class="form-group">
								<div class="col-sm-12">
									<label>企業简介</label>
									<textarea class="form-control" rows="6" placeholder="企業简介" ng-model="param.company_introduce"></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<ui-select multiple ng-model="multipleDemo.selectedPeopleWithGroupBy" theme="bootstrap" ng-disabled="disabled">
									<ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
									<ui-select-choices group-by="someGroupFn" repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
										<div ng-bind-html="person.name | highlight: $select.search"></div>
										<small>
											email: {{person.email}}
											age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
										</small>
									</ui-select-choices>
								</ui-select>

							</div> 
						</div>
					</div>
					<footer class="panel-footer aside-footer text-right">
						<div class="btn-group">
							<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-close"> </i> 关闭</button>
							<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
								trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
						</div>
					</footer>
				</div>
			</div>
			<input type="hidden" name="company_edit_id" value="" ng-model="param.company_edit_id">
		</form>
	</div>
</div>