<div class="p-md" ng-controller="CustomerController">
	<div class="panel panel-default">
		<div class="panel-heading row">
			<div class="col-md-10">
				<span class="no-margin" ng-bind-html="action_nav"></span>
				
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2" ng-if="hashAccess[_self_module.module_id]>1">
				<div class="btn-group">
					<button ng-click="SyncCustomer()" class="btn btn-rounded btn-sm">
						<i class="fa fa-fw m-r-xs fa-plus"></i> 同步客户信息
					</button>
					<button ng-click="addEdit(param)" class="btn btn-rounded btn-info btn-sm">
						<i class="fa fa-fw m-r-xs fa-plus"></i> 添加{{_self_module.module_name}}
					</button>
				</div>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>货币名称</th>
					<th>货币缩写</th>
					<th>符号</th>
					<th>现汇买入价</th>
					<th>现钞买入价</th>
					<th>现汇卖出价</th>
					<th>现钞卖出价</th>
					<th>中行折算价</th>
					<th>银行发布日期</th>
					<th>财务发布日期</th>
					<th>录入人</th>
					<th>审核</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, currencyRate) in currencyRateList">
					<td>{{i+1}}</td>
					<td>{{currencyRate.currency_name}}</td>
					<td>{{currencyRate.currency_sname}}</td>
					<td>{{currencyRate.currency_symbol}}</td>
					<td>{{currencyRate.buying_rate}}</td>
					<td>{{currencyRate.cash_buying_rate}}</td>
					<td>{{currencyRate.selling_rate}}</td>
					<td>{{currencyRate.cash_selling_rate}}</td>
					<td>{{currencyRate.boe_conversion_rate}}</td>
					<td>{{currencyRate.bank_release_date}}</td>
					<td>{{currencyRate.financial_release_date}}</td>
					<td>{{employeeNameHash[currencyRate.employee_id]}}</td>
					<td>{{auditingStateExplain[currencyRate.auditing_state]}}</td>
					<td>
						<div class="pull-right btn-group">
							<a ng-click="addEdit('edit', currencyRate, i)" class="btn btn-sm btn-rounded"><i class="ti-layers"></i> </a>
							<a ng-click="delete(currencyRate.currency_id, i)" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i> </a>
						</div>
					</td> 
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/ng-template" id="AddEditCurrencyRate.html">
<div class="aside box-shadow aside-x" tabindex="-1" role="dialog">
	<div class="aside-dialog">
		<div class="aside-content">
			<form name="thisForm" class="form-inline" role="form" ng-submit="saveData(thisForm)">
			<div class="panel panel-default">
				<div class="panel-heading bg-white">
					<i class="fa fa-building-o"> </i>
					<span class="no-margin" ng-bind-html="action_nav_aside"></span>
					<button type="button" class="close" ng-click="$hide()">&times;</button>
				</div>
				<div class="panel-body p-md">
					<div class="" append-source>
						<div class="p"> 
							<div class="form-group m-b-xs">
								<div class="input-group">
									<span class="input-group-btn"><button class="btn btn-default" type="button">货币名称</button></span>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-model="currencyRate.currency"
											data-html="1" data-toggle="true" bs-options="currency.id as currency.currency_name for currency in currencySymbol" 
											bs-select placeholder="选择货币" ng-change="showChange()">
											Action <span class="caret"></span>
										</button>
									</span>
									<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
									<span class="input-group-btn"><button class="btn btn-default" type="button">货币缩写</button></span>
									<input type="text" class="form-control w-thumb-lg" style="float:left;" 
										value="{{currencySymbol[currencyRate.currency].currency_sname}}" readonly />
									<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
									<span class="input-group-btn"><button class="btn btn-default" type="button">符号</button></span>
									<input type="text" class="form-control w-thumb-lg" 
										value="{{currencySymbol[currencyRate.currency].currency_symbol}}" readonly>
								</div>
							</div>
						</div>
						<div class="p-h">
							<div class="row p-h">
								<div class="form-group m-b-xs">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">现汇买入价</button></span>
										<input type="text" class="form-control w-thumb-lg" ng-model="currencyRate.buying_rate" required>
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">现钞买入价</button></span>
										<input type="text" class="form-control w-thumb-lg" style="float:left;" ng-model="currencyRate.cash_buying_rate" required />
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">现汇卖出价</button></span>
										<input type="text" class="form-control w-thumb-lg" ng-model="currencyRate.selling_rate" required>
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">现钞卖出价</button></span>
										<input type="text" class="form-control w-thumb-lg" style="float:left;" ng-model="currencyRate.cash_selling_rate" required />
									</div>
								</div>
							</div>
						</div>
						<div class="p">
							<div class="row p-h">
								<div class="form-group m-b-xs">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">中行折算价</button></span>
										<input type="text" class="form-control w-thumb-lg" ng-model="currencyRate.boe_conversion_rate" required>
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">银行发布日期</button></span>
										<input type="text" class="form-control w" placeholder="银行发布日期" ng-model="currencyRate.bank_release_date" value="{{getDay('yyyy-mm-dd')}}"
											data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1" bs-datepicker required />
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">财务发布日期</button></span>
										<input type="text" class="form-control w" placeholder="财务发布日期" ng-model="currencyRate.financial_release_date" value="{{getDay('yyyy-mm-dd')}}"
											data-date-format="yyyy-MM-dd" data-date-type="string" data-autoclose="1" bs-datepicker required />
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">录入人</button></span>
										<input type="text" class="form-control w-thumb-lg" ng-model="loginEmployee.employee_name" readonly ng-if="edit_id==''" />
										<input type="text" class="form-control w-thumb-lg" value="{{employeeNameHash[currencyRate.employee_id]}}" 
											readonly ng-if="edit_id!=''" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="panel-footer text-right bg-white">
					<div class="btn-group" ng-if="currencyRate.auditing_state==0">
						<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
						<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
							trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
					</div>
					<div class="btn-group" ng-if="currencyRate.auditing_state>0">
						<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()">已递交工作流审核</button>
					</div>
				</footer>
			</div>
			</form>
		</div>
		<div ng-include="__RESOURCE+'views/Common/CategoryAuditing.html'" ng-if="editType=='edit'"></div>
	</div>
</div>	
</script>
<!-- AddEditAuditing.html -->
