<!--SelectCommodity.html-->
<script type="text/ng-template" id="SupplierBussiness.html">
<div class="aside box-shadow aside-m" tabindex="-1" role="dialog">
	<div class="panel panel-default" ng-if="asideType=='commodity'">
		<div class="panel-heading">
			<div class="panel-heading">
				<i class="fa fa-building-o"> </i>
				<span class="no-margin">选择品名</span>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
		</div>
		<div class="p">
			<table st-table="commodityList" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
                        <th st-ratio="5"></th>
                        <th st-ratio="25" st-sort="systype_id">系统</th>
						<th st-ratio="25" st-sort="commodity_name">品名</th>
						<th st-ratio="25" st-sort="commodity_enname">英文</th>
					</tr>
					<tr>
						<th colspan="4">
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">输入关键字</button></span>
										<input st-search="" class="form-control" placeholder="全局搜索 ..." type="text"/>
										<span class="input-group-btn"><button class="btn btn-default" type="button">每页显示</button></span>
										<input class="form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
										<span class="input-group-btn"><button class="btn btn-default" type="button">条</button></span>
									</div>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="commodity in commodityList" class="cursor">
						<td class="w-thumb-lg text-nowrap">
							<label class="checkbox-inline no-padding-v m-t-ln">
								<input type="checkbox" value="{{commodity.commodity_id}}" ng-click="choiceCheckboxData('commodity', commodity.commodity_id, commodity)"
									ng-model="checkboxData['commodity'][commodity.commodity_id]" > 
							</label>
						</td>
                        <td>{{systypeHash[commodity.systype_id].systype_name}}</td>
                        <td>{{commodity.commodity_name}}</td>
						<td>{{commodity.commodity_enname}}</td>
					</tr>
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="5" class="text-center">
					  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" class="no-margin"></div>
					</td>
				  </tr>
				</tfoot>
			</table>
		</div>
		<footer class="panel-footer text-right bg-white">
			<div class="btn-group">
				<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
			</div>
		</footer>
	</div>
	<!--	-->
	<div class="panel panel-default" ng-if="asideType=='category'">
		<div class="panel-heading">
			<div class="panel-heading">
				<i class="fa fa-building-o"> </i>
				<span class="no-margin">选择主营车种</span>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
		</div>
		<div class="p">
			<table st-table="categoryList" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
                        <th st-ratio="5"></th>
                        <th st-ratio="25" st-sort="category_name">名称</th>
						<th st-ratio="25" st-sort="category_number">编号</th>
					</tr>
					<tr>
						<th colspan="3">
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">输入关键字</button></span>
										<input st-search="" class="form-control" placeholder="全局搜索 ..." type="text"/>
										<span class="input-group-btn"><button class="btn btn-default" type="button">每页显示</button></span>
										<input class="form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
										<span class="input-group-btn"><button class="btn btn-default" type="button">条</button></span>
									</div>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="category in categoryList" class="cursor">
						<td class="w-thumb-lg text-nowrap">
							<label class="checkbox-inline no-padding-v m-t-ln">
								<input type="checkbox" value="{{category.category_id}}" ng-click="choiceCheckboxData('category', category.category_id, category)"
									ng-model="checkboxData['category'][category.category_id]" > 
							</label>
						</td>
                        <td>{{category.category_name}}</td>
                        <td>{{category.category_number}}</td>
					</tr>
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="5" class="text-center">
					  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" class="no-margin"></div>
					</td>
				  </tr>
				</tfoot>
			</table>
		</div>
		<footer class="panel-footer text-right bg-white">
			<div class="btn-group">
				<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
			</div>
		</footer>
	</div>
	<!--	-->
	<div class="panel panel-default" ng-if="asideType=='classify'">
		<div class="panel-heading">
			<div class="panel-heading">
				<i class="fa fa-building-o"> </i>
				<span class="no-margin">选择主营车厂</span>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
		</div>
		<div class="p">
			<table st-table="classifyList" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
                        <th st-ratio="5"></th>
                        <th st-ratio="25" st-sort="classify_name">名称</th>
						<th st-ratio="25" st-sort="classify_enname">车厂英文</th>
					</tr>
					<tr>
						<th colspan="3">
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">输入关键字</button></span>
										<input st-search="" class="form-control" placeholder="全局搜索 ..." type="text"/>
										<span class="input-group-btn"><button class="btn btn-default" type="button">每页显示</button></span>
										<input class="form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
										<span class="input-group-btn"><button class="btn btn-default" type="button">条</button></span>
									</div>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="classify in classifyList" class="cursor">
						<td class="w-thumb-lg text-nowrap">
							<label class="checkbox-inline no-padding-v m-t-ln">
								<input type="checkbox" value="{{classify.classify_id}}" ng-click="choiceCheckboxData('classify', classify.classify_id, classify)"
									ng-model="checkboxData['classify'][classify.classify_id]" > 
							</label>
						</td>
                        <td>{{classify.classify_name}}</td>
                        <td>{{classify.classify_enname}}</td>
					</tr>
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="5" class="text-center">
					  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" class="no-margin"></div>
					</td>
				  </tr>
				</tfoot>
			</table>
		</div>
		<footer class="panel-footer text-right bg-white">
			<div class="btn-group">
				<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
			</div>
		</footer>
	</div>
	<!--	-->
	<div class="panel panel-default" ng-if="asideType=='crafting_type'">
		<div class="panel-heading">
			<div class="panel-heading">
				<i class="fa fa-building-o"> </i>
				<span class="no-margin">选择制造类型</span>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
		</div>
		<div class="p">
			<table st-table="dict_crafting_type" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
                        <th st-ratio="5"></th>
                        <th st-ratio="25" st-sort="dict_val">名称</th>
					</tr>
					<tr>
						<th colspan="2">
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">输入关键字</button></span>
										<input st-search="" class="form-control" placeholder="全局搜索 ..." type="text"/>
										<span class="input-group-btn"><button class="btn btn-default" type="button">每页显示</button></span>
										<input class="form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
										<span class="input-group-btn"><button class="btn btn-default" type="button">条</button></span>
									</div>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dict in dict_crafting_type" class="cursor">
						<td class="w-thumb-lg text-nowrap">
							<label class="checkbox-inline no-padding-v m-t-ln">
								<input type="checkbox" value="{{dict.dict_id}}" ng-click="choiceCheckboxData('crafting_type', dict.dict_id, dict)"
									ng-model="checkboxData['crafting_type'][dict.dict_id]" > 
							</label>
						</td>
                        <td>{{dict.dict_val}}</td>
					</tr>
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="5" class="text-center">
					  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" class="no-margin"></div>
					</td>
				  </tr>
				</tfoot>
			</table>
		</div>
		<footer class="panel-footer text-right bg-white">
			<div class="btn-group">
				<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
			</div>
		</footer>
	</div>
	<!--	-->
	<div class="panel panel-default" ng-if="asideType=='operate_market'">
		<div class="panel-heading">
			<div class="panel-heading">
				<i class="fa fa-building-o"> </i>
				<span class="no-margin">选择经营市场</span>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
		</div>
		<div class="p">
			<table st-table="dict_operate_market" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
                        <th st-ratio="5"></th>
                        <th st-ratio="25" st-sort="dict_val">市场名称</th>
					</tr>
					<tr>
						<th colspan="2">
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">输入关键字</button></span>
										<input st-search="" class="form-control" placeholder="全局搜索 ..." type="text"/>
										<span class="input-group-btn"><button class="btn btn-default" type="button">每页显示</button></span>
										<input class="form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
										<span class="input-group-btn"><button class="btn btn-default" type="button">条</button></span>
									</div>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dict in dict_operate_market" class="cursor">
						<td class="w-thumb-lg text-nowrap">
							<label class="checkbox-inline no-padding-v m-t-ln">
								<input type="checkbox" value="{{dict.dict_id}}" ng-click="choiceCheckboxData('operate_market', dict.dict_id, dict)"
									ng-model="checkboxData['operate_market'][dict.dict_id]" > 
							</label>
						</td>
                        <td>{{dict.dict_val}}</td>
					</tr>
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="5" class="text-center">
					  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" class="no-margin"></div>
					</td>
				  </tr>
				</tfoot>
			</table>
		</div>
		<footer class="panel-footer text-right bg-white">
			<div class="btn-group">
				<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
			</div>
		</footer>
	</div>
	<!--	-->
	<div class="panel panel-default" ng-if="asideType=='country'">
		<div class="panel-heading">
			<div class="panel-heading">
				<i class="fa fa-building-o"> </i>
				<span class="no-margin">选择主要销售地区/国家</span>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
		</div>
		<div class="p">
			<table st-table="countryList" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
                        <th st-ratio="5"></th>
                        <th st-ratio="25" st-sort="country_name">国家</th>
						<th st-ratio="25" st-sort="country_sname">简称</th>
						<th st-ratio="25" st-sort="country_enname">英文</th>
						<th st-ratio="25" st-sort="area">区域</th>
					</tr>
					<tr>
						<th colspan="5">
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">输入关键字</button></span>
										<input st-search="" class="form-control" placeholder="全局搜索 ..." type="text"/>
										<span class="input-group-btn"><button class="btn btn-default" type="button">每页显示</button></span>
										<input class="form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
										<span class="input-group-btn"><button class="btn btn-default" type="button">条</button></span>
									</div>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="country in countryList" class="cursor">
						<td class="w-thumb-lg text-nowrap">
							<label class="checkbox-inline no-padding-v m-t-ln">
								<input type="checkbox" value="{{country.country_id}}" ng-click="choiceCheckboxData('country', country.country_id, country)"
									ng-model="checkboxData['country'][country.country_id]" > 
							</label>
						</td>
                        <td>{{country.country_name}}</td>
						<td>{{country.country_sname}}</td>
						<td>{{country.country_enname}}</td>
						<td>{{country.area}}</td>
					</tr>
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="5" class="text-center">
					  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" class="no-margin"></div>
					</td>
				  </tr>
				</tfoot>
			</table>
		</div>
		<footer class="panel-footer text-right bg-white">
			<div class="btn-group">
				<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
			</div>
		</footer>
	</div>
	<!--	-->
	<div class="panel panel-default" ng-if="asideType=='certification_system'">
		<div class="panel-heading">
			<div class="panel-heading">
				<i class="fa fa-building-o"> </i>
				<span class="no-margin">选择相关认证</span>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
		</div>
		<div class="p">
			<table st-table="dict_certification_system" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
                        <th st-ratio="5"></th>
                        <th st-ratio="25" st-sort="dict_val">认证名称</th>
					</tr>
					<tr>
						<th colspan="2">
							<div class="form-group">
								<div class="col-sm-6">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">输入关键字</button></span>
										<input st-search="" class="form-control" placeholder="全局搜索 ..." type="text"/>
										<span class="input-group-btn"><button class="btn btn-default" type="button">每页显示</button></span>
										<input class="form-control" name="items" id="items" type="number" ng-model="itemsByPage" >
										<span class="input-group-btn"><button class="btn btn-default" type="button">条</button></span>
									</div>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dict in dict_certification_system" class="cursor">
						<td class="w-thumb-lg text-nowrap">
							<label class="checkbox-inline no-padding-v m-t-ln">
								<input type="checkbox" value="{{dict.dict_id}}" ng-click="choiceCheckboxData('certification_system', dict.dict_id, dict)"
									ng-model="checkboxData['certification_system'][dict.dict_id]" > 
							</label>
						</td>
                        <td>{{dict.dict_val}}</td>
					</tr>
				</tbody>
				<tfoot>
				  <tr>
					<td colspan="5" class="text-center">
					  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="2" class="no-margin"></div>
					</td>
				  </tr>
				</tfoot>
			</table>
		</div>
		<footer class="panel-footer text-right bg-white">
			<div class="btn-group">
				<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
			</div>
		</footer>
	</div>
</div>
</script>