<div class="p-md" ng-controller="CommodityController">
	<div class="panel panel-default">
		<div class="panel-heading row">
			<div class="col-md-10">
				<span class="no-margin" ng-bind-html="action_nav"></span>
			</div>
			<div class="col-md-2">
				<button ng-if="hashAccess[_self_module.module_id]>1" ng-click="addEdit('add')" class="btn btn-rounded btn-info btn-sm">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加品名
				</button>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>所属系统</th>
					<th>产品系统</th>
					<th>报关品名</th>
					<th>品名</th>
					<th>品名[英文]</th>
					<th>单位</th>
					<th>单位[英文]</th>
					<th>报关度量</th>
					<th>HS编码</th>
					<th>HS编码来源</th>
					<th>产品提交人</th>
					<th>提交时间</th>
					<th>流转步骤</th>
					<th>审核</th>
					<th>审核时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, commodity) in commodityPage.pageList">
					<td>{{i+1}}</td>
					<td>{{systypeHash[commodity.systype_id].systype_belong}}</td>
					<td>{{systypeHash[commodity.systype_id].systype_name}}</td>
					<td>{{commodity.commodity_hs_name}}</td>
					<td>{{commodity.commodity_name}}</td>
					<td>{{commodity.commodity_enname}}</td>
					<td>{{commodity.commodity_unit}}</td>
					<td>{{commodity.commodity_unit_en}}</td>
					<td>{{commodity.commodity_unit_seaport}}</td>
					<td>{{i+1}}</td>
					<td>{{i+1}}</td>
					<td>{{i+1}}</td>
					<td>{{i+1}}</td>
					<td>{{i+1}}</td>
					<td>{{i+1}}</td>
					<td>{{i+1}}</td>
					<td>
						<div class="text-center">
							<a ng-click="addEdit('edit', commodity, i)" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-edit"></i></a>
							<a ng-click="delete(commodity.commodity_id, i)" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i></a>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="17" class="text-center">
						<div class="btn-group">
							<button type="button" class="btn btn-default"
								ng-repeat="n in [].constructor(commodityPage.allPages) track by $index" 
								ng-class="{active:$index+1==commodityPage.currentPage}" ng-click="nextPage($index+1)">
								{{$index+1}}
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/ng-template" id="AddEditCommodity.html">
	<div class="aside box-shadow aside-x" tabindex="-1" role="dialog">
		<div class="aside-dialog">
			<div class="aside-content">
				<form name="thisForm" class="form-horizontal form-validation" id="thisForm" ng-submit="saveData()">
					<div class="panel panel-default">
						<div class="panel-heading bg-white">
							<i class="fa fa-building-o"> </i>
							<span class="no-margin" ng-bind-html="action_nav_aside"></span>
							<button type="button" class="close" ng-click="$hide()">&times;</button>
						</div>
						<div class="panel-body">                    
							<div class="form-group">
								<label class="col-sm-2 control-label">审核名称</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="auditing.auditing_name" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">审核模块</label>
								<div class="col-sm-4">
										<ui-select class="w-lg" ng-model="auditing.module_id" ng-change="selectModule(i)" theme="bootstrap" 
											ng-disabled="disabled">
										  <ui-select-match placeholder="选择审核模块">{{$select.selected.module_name}}</ui-select-match>
										  <ui-select-choices group-by="'group'" 
											repeat="module in auditingModuleList | propsFilter: {module_name: $select.search}">
										    <div ng-bind-html="module.module_name | highlight: $select.search"></div>
										  </ui-select-choices>
										</ui-select>									
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">审核步骤</label>
								<div class="col-sm-3">
									<div class="text-center">
										<a ng-click="addStep()" class="btn btn-sm btn-rounded"><i class="fa fa-fw fa-plus m-r-xs"></i> 增加审核</a>
										<a ng-click="reduceStep()" class="btn btn-sm btn-rounded"><i class="fa fa-fw fa-minus m-r-xs"></i> 减少审核</a>
									</div>
								</div>
							</div>
							<div class="form-group" ng-repeat="i in step" >
								<label class="col-sm-2 control-label">审核部门</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2">
											<input type="hidden" ng-model="auditing.examine[i].sector_id" />
											<input type="text" class="form-control" value="{{sectorHash[auditing.examine[i].sector_id].sector_name}}"
											 ng-click="showSector(i)" />
										</div>
										<label class="col-sm-1 control-label">审核职位</label>
										<div class="col-sm-3">
										<ui-select class="w-lg" ng-model="auditing.examine[i].position_id" ng-change="selectPosition(i)" theme="bootstrap" 
											ng-disabled="disabled">
										  <ui-select-match placeholder="选择职位">{{$select.selected.sector_name}}</ui-select-match>
										  <ui-select-choices group-by="'group'" 
											repeat="position in positionList | propsFilter: {sector_name: $select.search}">
										    <div ng-bind-html="position.sector_name | highlight: $select.search"></div>
										  </ui-select-choices>
										</ui-select>
 										</div>
										<label class="col-sm-1 control-label">审核人</label>
										<div class="col-sm-2">
										<ui-select class="w-lg" ng-model="auditing.examine[i].employee_id" ng-change="selectEmployee(i)" theme="bootstrap" 
											ng-disabled="disabled">
										  <ui-select-match placeholder="选择审核人">{{$select.selected.employee_name}}</ui-select-match>
										  <ui-select-choices group-by="'group'" 
											repeat="employee in auditingEmployeeList[i] | propsFilter: {employee_name: $select.search}">
										    <div ng-bind-html="employee.employee_name | highlight: $select.search"></div>
										  </ui-select-choices>
										</ui-select>											
										</div>
									</div>
								</div>
							</div>
						</div>
						<footer class="panel-footer text-right">
							<div class="btn-group">
								<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
								<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
								trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
							</div>
						</footer>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>
<!-- AddEditCommodity.html -->
<!-- CommodityNameSources.html -->
<script type="text/ng-template" id="CommodityNameSources.html">
<ul class="dropdown-menu">
 	<li><a ng-click="commodity.commodity_name_sources='知名经销商'">知名经销商</a></li>
	<li><a ng-click="commodity.commodity_name_sources='专业书籍'">专业书籍</a></li>
	<li><a ng-click="commodity.commodity_name_sources='网络'">网络</a></li>
</ul>
</script>
