<div class="p-md" ng-controller="CompanyController">
	<div class="panel panel-default">
		<div class="panel-heading row">
			<div class="col-md-10">
				Basic
			</div>
			<div class="col-md-2">
				<button ng-if="hashAccess[_self_module.module_id]>1" ng-click="addEdit(param)" class="btn btn-rounded btn-info btn-sm">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加公司
				</button>
				<!-- <a ng-if="hashAccess[_self_module.module_id]>1" 
					ui-sref="app.{{_self_module.module_channel}}({view:_self_module.module_view+'AddEdit',id:_self_module.module_id,channel:_self_module.url})" 
					class="btn btn-rounded btn-info btn-sm">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加公司
				</a> -->
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>公司代码</th>
					<th>公司名称</th>
					<th>電話</th>
					<th>传真</th>
					<th>网址</th>
					<th>编辑</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, company) in companyList">
					<td>{{i+1}}</td>
					<td>{{company.company_code}}</td>
					<td>{{company.company_name}}</td>
					<td>{{company.company_phone}}</td>
					<td>{{company.company_fax}}</td>
					<td>{{company.company_website}}</td>
					<td><a class="pull-right" ng-click="addEdit(company)"><i class="fa fa-edit"></i> 编辑</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>