<div class="p-md" ng-controller="CompanyController">
	<div class="panel panel-default">
		<div class="panel-heading row">
		</div>
		<ul class="nav nav-tabs p-h-xs m-t-xs" ui-nav ng-init="activeTab=1">
            <li ng-class="{active:activeTab==1}" ng-click="activeTab=1">
                <a>公司</a>
            </li>
            <li ng-class="{active:activeTab==2}" ng-click="activeTab=2">
                <a>银行账户</a>
            </li>
            <li class="col-md-2 pull-right">
				<button ng-if="hashAccess[_self_module.module_id]>1" ng-click="addEdit(param)" class="btn btn-rounded btn-info btn-sm" ng-show="activeTab==1">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加公司
				</button>
				<button ng-if="hashAccess[_self_module.module_id]>1" ng-click="addEditBank(bank)" class="btn btn-rounded btn-info btn-sm" ng-show="activeTab==2">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加银行账户
				</button>
				<!-- <a ng-if="hashAccess[_self_module.module_id]>1" 
					ui-sref="app.{{_self_module.module_channel}}({view:_self_module.module_view+'AddEdit',id:_self_module.module_id,channel:_self_module.url})" 
					class="btn btn-rounded btn-info btn-sm">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加公司
				</a> -->
			</li>
         </ul>
      	 <div class="tab-content">
			<table class="table" ng-show="activeTab==1">
				<thead>
					<tr>
						<th>#</th>
						<th>公司代码</th>
						<th>公司名称</th>
						<th>電話</th> 
						<th>传真</th>
						<th>网址</th>
						<th>编辑</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(i, company) in companyList">
						<td>{{i+1}}</td>
						<td>{{company.company_code}}</td>
						<td>{{company.company_name}}</td>
						<td>{{company.company_phone}}</td>
						<td>{{company.company_fax}}</td>
						<td>{{company.company_website}}</td>
						<td><a class="pull-right" ng-click="addEdit(company)"><i class="fa fa-edit"></i> 编辑</a></td>
					</tr>
				</tbody>
			</table>
			<table class="table" ng-show="activeTab==2">
				<thead>
					<tr>
						<th>#</th>
						<th>开户行简称</th>
						<th>货币</th>
						<th>公司账户名称</th> 
						<th>开户行/收款银行</th>
						<th>账号</th>
						<th>Swift Bic</th>
						<th>中间行(Intermediary)</th>
						<th>中间行(Swift Bic)</th>
						<th>银行地址</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(i, bank) in bankList">
						<td>{{i+1}}</td>
						<td>{{bank.bank_sname}}</td>
						<td>{{bank.bank_currency}}</td>
						<td>{{bank.bank_account_name}}</td>
						<td>{{bank.bank_name}}</td>
						<td>{{bank.bank_account}}</td>
						<td>{{bank.bank_swift_bic}}</td>
						<td>{{bank.bank_middle_intermediary}}</td>
						<td>{{bank.bank_middle_swift_bic}}</td>
						<td>{{bank.bank_address}}</td>
						<td><a class="pull-right" ng-click="addEditBank(bank)"><i class="fa fa-edit"></i> 编辑</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/ng-template" id="AddEditBank.html">
	<div class="aside box-shadow aside-m h-6x" tabindex="-1" role="dialog">
		<div class="aside-dialog">
			<div class="aside-content">
				<form name="thisFormBank" class="form-horizontal form-validation" id="thisFormBank" ng-submit="saveDataBank()">
					<div class="panel panel-default no-b-b">
						<div class="panel-heading bg-white">
							<i class="fa fa-building-o"> </i>
							<span class="no-margin" ng-bind-html="action_nav_aside"></span>
							<button type="button" class="close" ng-click="$hide()">&times;</button>
						</div>
						<div class="panel-body">                    
							<div class="form-group">
								<label class="col-sm-3 control-label">开户行简称</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_sname" required >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">货币</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_currency" required >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">公司账户名称</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_account_name" required >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">开户行/收款银行</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_name" required >
								</div> 
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">账号</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_account" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Swift Bic</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_swift_bic" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">中间行(Intermediary)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_middle_intermediary" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">中间行(Swift Bic)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_middle_swift_bic" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">银行地址</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="bank.bank_address" />
								</div>
							</div>
						</div>
						<footer class="panel-footer text-right">
							<div class="btn-group">
								<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
								<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
								trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
							</div>
						</footer>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>
<!-- "AddEditBank.html" -->