<div class="p-md" ng-controller="EmployeeController">
	<form name="SectorPositionForm" class="form-inline" role="form">
	    <div class="tab-container">
	        <ul class="nav nav-tabs">
	            <li class="active">
	                <a>部门职位</a> 
	            </li>
	        </ul> 
	        <div class="tab-content text-nowrap">
	            <div>
	                <div class="table-responsive">
						<div class="col-md-3 col-sm-6">
							
						</div>
	                    <table class="table table-bordered table-striped bg-white">
	                        <thead>
	                            <tr>
	                                <th class="w-xl text-center">
										<div class="btn-group">
										  <button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm btn-rounded">展开</button>
										  <button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm btn-rounded">收起</button>
										  <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm btn-rounded">全部展开</button>
										  <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm btn-rounded">全部收起</button>
										</div>
									</th>
	                                <th class="w">职位 <button ng-click="SectorPositionEdit('position')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加职位</button></th>
	                                <th>员工</th>
	                            </tr>
	                        </thead>
	                        <tbody class="no-b-t">
								<tr>
									<td class="no-padding panel">
										<div class="text-center">
											<a ng-click="SectorPositionEdit('sector')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加</a>
										
											<a ng-click="SectorPositionEdit('edit')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-edit"></i> 修改</a>
											<a ng-click="SectorPositionDelete('delete')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i> 删除</a>
										</div>
										<div>
										  <span ng-if="doing_async">...loading...</span>
										  <div lazy-load="angularBootstrapNavTree">
											<abn-tree 
											  tree-data         = "my_data" 
											  tree-control      = "my_tree" 
											  on-select         = "SectorPosition(branch)" 
											  expand-level      = "3" 
											  initial-selection = "Granny Smith"
											  icon-leaf         = "fa fa-file-o"
											  icon-expand       = "fa fa-angle-right"
											  icon-collapse     = "fa fa-angle-down"
											  >
											</abn-tree>
										 </div>
										</div>
									</td>
									<td>
										
										<div class="line b-b m-v-md"></div>
										
									</td>
									<td>
										
									</td>
								</tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	
	        </div>
	    </div>
	</form>
</div>