<div class="p-md" ng-controller="EmployeeController">
	<form name="SectorPositionForm" class="form-inline" role="form">
		<div class="tab-container">
			<ul class="nav nav-tabs">
				<li class="active" ng-class="{active:activeTab==1}" ng-click="activeTab=1">
					<a>部门职位员工</a>
				</li>
				<li ng-class="{active:activeTab==2}" ng-click="activeTab=2">
					<a>权限配置</a>
				</li>
				<li class="col-md-2 pull-right">
					<button ng-click="addEditPermission('')" class="btn btn-rounded btn-info btn-sm" ng-show="activeTab==2">
						<i class="fa fa-fw m-r-xs fa-plus"></i> 添加权限
					</button>
				</li>
			</ul>
			<div class="tab-content text-nowrap">
				<div>
					<div class="table-responsive">
						<div class="col-md-3 col-sm-6">

						</div>
						<table class="table table-bordered table-striped bg-white" ng-show="activeTab==1">
							<thead>
								<tr>
									<th class="w-xl text-center">
										<div class="btn-group">
											<button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm btn-rounded">展开</button>
											<button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm btn-rounded">收起</button>
											<button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm btn-rounded">全部展开</button>
											<button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm btn-rounded">全部收起</button>
										</div>
									</th>
									<th class="w">职位 </th>
									<th>员工</th>
								</tr>
							</thead>
							<tbody class="no-b-t">
								<tr>
									<th>
										<div class="text-center">
											<a ng-click="sectorPositionEdit('sector')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加</a>
											<a ng-click="sectorPositionEdit('edit')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-edit"></i> 修改</a>
											<a ng-click="sectorPositionDelete('delete')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i> 删除</a>
										</div>

									</th>
									<td>
										<div class="text-center">
											<a ng-click="sectorPositionEdit('position')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加</a>
											<a ng-click="sectorPositionEdit('editPosition')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-edit"></i> 修改</a>
											<a ng-click="sectorPositionDelete('deletePosition')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i>
												删除</a>
										</div>
									</td>
									<td>
										<div class="text-center">
											<a ng-click="addEditEmployee('add')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加</a>
											<a ng-click="addEditEmployee('edit')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-edit"></i> 修改</a>
											<a ng-click="employeeDelete('delete')" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i> 删除</a>
										</div>
									</td>
								</tr>
								<tr>
									<td class="no-padding-h">
										<div>
											<span ng-if="doing_async">...loading...</span>
											<div lazy-load="angularBootstrapNavTree">
												<abn-tree tree-data="my_data" tree-control="my_tree" on-select="sectorPosition(branch)" expand-level="3"
													initial-selection="Granny Smith" icon-leaf="fa fa-file-o" icon-expand="fa fa-angle-right"
													icon-collapse="fa fa-angle-down">
												</abn-tree>
											</div>
										</div>
									</td>
									<td class="no-padding-h">
										<ul class="nav nav-list abn-tree" ng-repeat="(i, sector) in sectorHash" ui-nav>
											<li class="abn-tree-row" ng-class="{active:activeSector==sector.sector_id}" ng-if="sector.sector_type=='position'">
												<a ng-click="setActiveSector(sector)">{{sector.sector_name}}</a>
											</li>
										</ul>
									</td>
									<td class="text-center">
										<table class="table table-bordered table-hover bg-white">
											<thead>
												<tr>
													<th>#</th>
													<th>姓名</th>
													<th>英文名</th>
													<th>部门</th>
													<th>职位</th>
													<th>权限</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="(i, e) in employeePage.pageList" ng-class="{active:activeEL==i}" ng-click="setActiveEL(i, e)">
													<td>{{i+1}}</td>
													<td>{{e.employee_name}}</td>
													<td>{{e.employee_enname}}</td>
													<td>{{sectorHash[e.sector_id].sector_name}}</td>
													<td>{{sectorHash[e.position_id].sector_name}}</td>
													<td>{{roleHash[e.role_id].role_name}}</td>
												</tr>
											</tbody>
										</table>
										<div class="btn-group">
											<button type="button" class="btn btn-default"
												ng-repeat="n in [].constructor(employeePage.allPages) track by $index" 
												ng-class="{active:$index+1==employeePage.currentPage}" ng-click="employeeNextPage($index+1)">
												{{$index+1}}
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table" ng-show="activeTab==2">
							<thead>
								<tr>
									<th class="w-xxs">#</th>
									<th>权限名称</th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(i, role) in roleList">
									<td>{{i+1}}</td>
									<td>{{role.role_name}}</td>
									<td></td>
									<td></td>
									<td><a class="pull-right" ng-click="addEditPermission(role)"><i class="fa fa-edit"></i> 修改</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script type="text/ng-template" id="AddEditEmployee.html">
<div class="aside box-shadow b-r aside-x p" tabindex="-1" role="dialog">
	<div class="aside-header"><i class="fa fa-building-o"> </i>
		<span class="no-margin" ng-bind-html="action_nav"></span>
		<button type="button" class="close" ng-click="$hide()">&times;</button>
	</div>
	<form name="thisForm" id="thisForm" class="form-validation" ng-submit="saveDataEmployee(thisForm)">	
		<div class="p-md">
			<div class="panel panel-default">
				<div class="panel-heading bg-white">
					<span class="font-bold">添加/编辑员工</span>
				</div>
				<div class="row">
					<div class="panel-body col-sm-8">
						
							<div class="form-group clearfix">
								<div class="col-sm-5">
									<label for="employee_name">姓名</label>
									<input class="form-control w" name="employee_name" value="" ng-model="employees.employee_name" required>
								</div>
								<div class="col-sm-5">
									<label for="employee_name">英文名</label>
									<input class="form-control w" name="employee_enname" value="" ng-model="employees.employee_enname" required>
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="col-sm-5">
									<label for="mobile">手机</label>
									<input class="form-control w" name="mobile" value="" ng-model="employees.mobile" required>
								</div>
								<div class="col-sm-5">
									<label for="id_card">Email</label>
									<input type="email" class="form-control w" name="id_card" value="" ng-model="employees.email" required>
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="col-sm-5">
									<label for="mobile">设置密码</label>
									<span>
									<input class="form-control w" name="password" value="" ng-model="employees.password" 
										ng-pattern="/^(?![A-Za-z]+$)(?![A-Z\d]+$)(?![A-Z\W]+$)(?![a-z\d]+$)(?![a-z\W]+$)(?![\d\W]+$)\S{8,20}$/" required>[包含大小写字母数字8~20位]</span>
								</div>
								<div class="col-sm-3">
									<label>部门</label>
									<div class="form-inline">
										<div class="form-group">
											<input type="hidden" ng-model="employees.sector_id" />
											<input type="text" class="form-control" value="{{sectorHash[employees.sector_id].sector_name}}"
											 ng-click="showSector()" readonly />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="col-sm-4">
									<label>职位</label>
									<div class="form-group">
										<ui-select class="w-lg" ng-model="employees.position_id" ng-change="selectSeaport()" theme="bootstrap" ng-disabled="disabled">
										  <ui-select-match placeholder="选择职位">{{$select.selected.sector_name}}</ui-select-match>
										  <ui-select-choices group-by="'group'" 
											repeat="position in positionList | propsFilter: {sector_name: $select.search}">
										    <div ng-bind-html="position.sector_name | highlight: $select.search"></div>
										  </ui-select-choices>
										</ui-select> 
									</div>
								</div>
								<div class="col-sm-4">
									<label>权限</label>
									<div class="form-group">
										<ui-select class="w-lg" ng-model="employees.role_id" ng-change="selectRole()" theme="bootstrap" ng-disabled="disabled">
										  <ui-select-match placeholder="选择权限">{{$select.selected.role_name}}</ui-select-match>
										  <ui-select-choices group-by="'group'" 
											repeat="role in roleList | propsFilter: {role_name: $select.search}">
										    <div ng-bind-html="role.role_name | highlight: $select.search"></div>
										  </ui-select-choices>
										</ui-select> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-3">
									<label class="radio-inline"> 
										<input type="radio" value="1" id="valid1" ng-model="employees.employee_valid" name="valid" 
											ng-checked="employees.employee_valid=='1'" checked> 有效
									</label>
									<label class="radio-inline"> 
										<input type="radio" value="0" id="valid0" ng-model="employees.employee_valid" name="valid" 
											ng-checked="employees.employee_valid=='0'"> 无效
									</label>
								</div>
							</div>
							<input type="hidden" name="company_id" value="" ng-model="company.company_id">
						
					</div>
					<div class="panel-body col-sm-4">
						<div class="form-group m-h-n clearfix">
							<div class="col-sm-12">
								<div class="col-sm-12">
									<label>员工头像</label>
									<div class="w-xl w-auto-xs">
										<div class="box bg-white">
											<div class="box-col w-auto-xs v-m">
												<img id="avatar" name="avatar" ng-src="{{__IMGWEB + employees.avatar}}" width="120" height="120"
													class="b p-xs" onerror="this.src='/static/images/userimg/user_b.png'" />
												<input type="hidden" ng-model="employees.avatar" value="{{employees.avatar}}">
											</div>
											<div class="box-col p">
												<button class="btn btn-addon btn-default set_image_src" id="set_image_src" type="button" isMain="1"><i
														class="fa fa-upload"></i> 上传图片</button>
												<label>最大:2M/600x600px</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="panel-footer aside-footer text-right">
					<div class="btn-group">
						<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
						<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
							trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
					</div>
				</footer>
			</div>
		</div>
	</form>
</div>
</script>
<!-- AddEditPermission -->
<script type="text/ng-template" id="AddEditPermission.html">
<div class="aside box-shadow b-r aside-x p" tabindex="-1" role="dialog">
	<div class="aside-header"><i class="fa fa-building-o"> </i>
		<span class="no-margin" ng-bind-html="action_nav"></span>
		<button type="button" class="close" ng-click="$hide()">&times;</button>
	</div>
	<div class="p-md">
		<form name="thisPermissionForm" id="thisPermissionForm" class="form-validation form-horizontal" ng-submit="saveDataPermission()">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading bg-white">
						<span class="font-bold">添加/编辑权限</span>
					</div>
					<div class="row">
						<div class="panel-body col-sm-12">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group m-b col-sm-3 p-h">
										<span class="input-group-addon">权限名称</span>
										<input type="text" class="form-control" placeholder="权限名称" ng-model="role_module.role_name" required />
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="col-sm-3" ng-repeat="(i, module) in menus">
									<ul ng-if="module.have_children==1"> 
										<li class="checkbox text-md font-bold text-black">
											<input type="checkbox" name="role_module[{{module.module_id}}]" value="{{module.module_id}}" 
												   id="role{{module.module_id}}" ng-model="role_module[module.module_id]"
												   ng-click="checkboxCancel(role_module[module.module_id], module.module_id)"/> 
											{{module.module_name}}
										</li>
									</ul>
							        <ul ng-if="module.have_children==0">
										<li class="checkbox"><input type="checkbox" /> {{module.module_name}}</li>
									</ul>
									<ul ng-if="module.have_children==1">
										<li ng-repeat="(children_id, children) in module.children">
											<span class="font-normal checkbox">
												<input type="checkbox" role="role{{children.module_father_id}}" name="role_module[{{children.module_id}}]" 
													   value="{{children.module_id}}" ng-checked="role_module[module.module_id]" ng-model="role_module[children.module_id]" 
													   ng-click="checkboxChange(role_module[children.module_id], children.module_father_id)"/> 
												{{children.module_name}}
											</span>
											<ul class="nav nav-sub bg" ng-if="children.have_children==1">
												<li class="checkbox" ng-repeat="(submenu_id, submenu) in children.submenu">
													<input type="checkbox" /> {{submenu.module_name}}
												</li>
											</ul>
										</li>
							        </ul>
								</div> 
							</div>
						</div>
					</div>
					<footer class="panel-footer aside-footer text-right">
						<div class="btn-group">
							<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
							<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
								trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
						</div>
					</footer>
				</div>
			</div>
			<input type="hidden" name="company_id" value="" ng-model="company.company_id">
		</form>
	</div>
</div>
</script>
<!-- AddEditPermission -->
