<div class="p-md" ng-controller="SalesPaymentController">
	<div class="panel panel-default">
		<div class="panel-heading row">
			<div class="col-md-10">
				<span class="no-margin" ng-bind-html="action_nav"></span>
			</div>
			<div class="col-md-2">
				<button ng-if="hashAccess[_self_module.module_id]>1" ng-click="addEdit(param)" class="btn btn-rounded btn-info btn-sm">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加{{_self_module.module_name}}
				</button>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>序号</th>
					<th>英文</th>
					<th>中文</th>
					<th>录入人</th>
					<th>审核</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, collection) in collectionList">
					<td>{{i+1}}</td>
					<td>{{collection.collection_num}}</td>
					<td>{{collection.collection_en}}</td>
					<td>{{collection.collection_cn}}</td>
					<td>{{employeeHash[collection.employee_id].employee_name}}</td>
					<td>{{auditingStateExplain[collection.auditing_state]}}</td>
					<td>
						<div class="pull-right btn-group">
							<a ng-click="addEdit('edit', collection, i)" class="btn btn-sm btn-rounded"><i class="ti-layers"></i> </a>
							<a ng-click="delete(collection.collection_id, i)" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i> </a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/ng-template" id="AddEditCurrencyRate.html">
<div class="aside box-shadow aside-x" tabindex="-1" role="dialog">
	<div class="aside-dialog">
		<div class="aside-content">
			<form name="thisForm" class="form-inline" role="form" ng-submit="saveData(thisForm)">
			<div class="panel panel-default">
				<div class="panel-heading bg-white">
					<i class="fa fa-building-o"> </i>
					<span class="no-margin" ng-bind-html="action_nav_aside"></span>
					<button type="button" class="close" ng-click="$hide()">&times;</button>
				</div>
				<div class="panel-body p-md">
					<div class="" append-source>
						<div class="p">
							<div class="row p-h">
								<div class="form-group m-b-xs">
									<div class="input-group no-border">
										<span class="input-group-btn"><button class="btn btn-default" type="button">序号</button></span>
										<input type="text" class="form-control col-md-1 w-thumb-md" size="5" ng-model="collection.collection_num" required>
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<input type="text" class="form-control w-thumb-md" style="float:left;" ng-model="collection.collection_deposit" required />
										<span class="input-group-btn"><button class="btn btn-default" type="button">%定金</button></span>
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">出货前</button></span>
										<input type="text" class="form-control w-thumb-lg" ng-model="collection.collection_before" required>
										<span class="input-group-btn"><button class="btn btn-default" type="button">%，</button></span>
										<span class="input-group-btn"><button class="btn btn-default no-padding" type="button"></button></span>
										<span class="input-group-btn"><button class="btn btn-default" type="button">出货后</button></span>
										<input type="text" class="form-control w-thumb-lg" style="float:left;" ng-model="collection.collection_days" required />
										<span class="input-group-btn"><button class="btn btn-default" type="button">天，付</button></span>
										<input type="text" class="form-control w-thumb-lg" style="float:left;" ng-model="collection.collection_after" required />
										<span class="input-group-btn"><button class="btn btn-default" type="button">%</button></span>
									</div>
								</div>
							</div>
						</div>
						<div class="p">
							<div class="panel panel-default">
								<table class="table">
									<tbody>
										<tr>
											<td class="w-thumb-lg">英文描述</td>
											<td>
												<textarea class="form-control col-md-6" style="width: 50%;" rows="1" ng-model="collection.collection_en"></textarea>
											</td>
										</tr>
										<tr>
											<td>中文描述</td>
											<td>
												<textarea class="form-control col-md-6" style="width: 50%;" rows="1" ng-model="collection.collection_cn"></textarea>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<footer class="panel-footer bg-white text-right">
					<div class="btn-group">
						<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
						<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
							trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
					</div>
				</footer>
			</div>
			</form>
		</div>
		<div ng-include="__RESOURCE+'views/Common/CategoryAuditing.html'" ng-if="editType=='edit'"></div>
	</div>
</div>
</script>
<!-- AddEditAuditing.html -->
