<div class="p-md" ng-controller="SysTypeController">
	<div class="panel panel-default">
		<div class="panel-heading row">
			<div class="col-md-10">
				<span class="no-margin" ng-bind-html="action_nav"></span>
			</div>
			<div class="col-md-2">
				<button ng-if="hashAccess[_self_module.module_id]>1" ng-click="addEdit('add')" class="btn btn-rounded btn-info btn-sm">
					<i class="fa fa-fw m-r-xs fa-plus"></i> 添加系统分类
				</button>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>序号</th>
					<th>系统所属(中文)</th>
					<th>系统所属(英文)</th>
					<th>系统名称(中文)</th>
					<th>系统名称(英文)</th>
					<th>编码</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, systype) in systypeList"> 
					<td>{{i+1}}</td>
					<td>{{systype.systype_belong}}</td>
					<td>{{systype.systype_belong_en}}</td>
					<td>{{systype.systype_name}}</td>
					<td>{{systype.systype_enname}}</td>
					<td>{{systype.systype_code}}</td>
					<td></td>
					<td>
						<div class="pull-right btn-group">
							<a ng-click="addEdit('edit', systype, i)" class="btn btn-sm btn-rounded"><i class="ti-layers"></i> </a>
							<a ng-click="delete(systype.systype_id, i)" class="btn btn-sm btn-rounded"><i class="fa fa-fw m-r-xs fa-trash"></i> </a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/ng-template" id="AddEditSystype.html">
	<div class="aside box-shadow aside-m" tabindex="-1" role="dialog">
		<div class="aside-dialog">
			<div class="aside-content">
				<form name="thisForm" class="form-horizontal form-validation" id="thisForm" ng-submit="saveData()">
					<div class="panel panel-default">
						<div class="panel-heading bg-white">
							<i class="fa fa-building-o"> </i>
							<span class="no-margin" ng-bind-html="action_nav_aside"></span>
							<button type="button" class="close" ng-click="$hide()">&times;</button>
						</div>
						<div class="panel-body">                    
							<div class="form-group">
								<label class="col-sm-3 control-label">系统所属(中文)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="systype.systype_belong" />
								</div>
							</div>
<div class="form-group">
								<label class="col-sm-3 control-label">系统所属(英文)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="systype.systype_belong_en" />
								</div>
							</div>
<div class="form-group">
								<label class="col-sm-3 control-label">系统名称(中文)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="systype.systype_name" />
								</div>
							</div>
<div class="form-group">
								<label class="col-sm-3 control-label">系统名称(英文)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="systype.systype_enname" />
								</div>
							</div>
<div class="form-group">
								<label class="col-sm-3 control-label">编码</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="systype.systype_code" />
								</div>
							</div>
						</div>
						<footer class="panel-footer text-right">
							<div class="btn-group">
								<button type="button" class="btn btn-rounded btn-default" ng-click="$hide()"><i class="fa fa-times"> </i> 关闭</button>
								<button type="submit" class="btn btn-rounded btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}"
								trigger-loading="beginLoading"><i class="fa fa-save"> </i> 保存</button>
							</div>
						</footer>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>
<!-- AddEditSystype.html.html -->